@import url('https://fonts.googleapis.com/css?family=Open+Sans')
div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
        margin-right: 2px;
}

* {
	font-family: 'Open Sans',serif;
}

.provinceMenu {
	background-color: skyblue;
	width: 100%;
	max-height: 100px;
	opacity: 50%;
	top: 0;
	left: 0;

}